.CodeMirror-gutter-text pre {
	position:relative;
	padding-right: 4px;
}
.CodeMirror-gutter-text pre:after {
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	z-index: -1;
}

.CodeMirror-gutter-text .breakpoint {
	color: #fff;
 }

.CodeMirror-gutter-text .breakpoint:after {
	content: "";
	border-width: 0 14px 0px 2px;
	-webkit-border-image: url(images/breakpointBorder.png) 0 14 0 2;
}